<%= form_with(model: article) do |form| %>
        <% if article.errors.any? %>
            <div>
                <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved: </h2>

                <ul>
                    <% article.errors.each do |error| %>
                    <li><%= error.full_messages %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label"><%= form.label :first_name %></label>
    <div class="col-sm-6">
    <%= form.text_field :name, class: 'form-control', placeholder: "First name" %>
    </div>
  </div>

  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label"><%= form.label :last_name%></label>
    <div class="col-sm-6">
    <%= form.text_field :body, class: 'form-control', placeholder: "Last name"  %>
    </div>
  </div>

<div>
    <%= form.submit class: 'btn btn-secondary' %>
</div>

<% end %>