<%= form_with scope: :article, url: create_article_path, local: true do |f| %>

<p>
    <% if @article.errors.any? %>
    <ul>
        <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
    <% end %>
</p>

    <h1>New Article</h1>
    <div class="row mb-3">
        <div class="col-sm-6">
        <%= f.text_field :name, class: 'form-control', placeholder: "First name" %>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-6">
        <%= f.text_field :body, class: 'form-control', placeholder: "Last name"  %>
        </div>
    </div>

<p>
    <%= f.submit class: 'btn btn-secondary' %>
    <br/>
    <br/>
    <%= link_to "Back", articles_path, class: 'btn btn-dark' %>
</p>

<% end %>

